<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GameServlet</servlet-name>
		<servlet-class>de.consilio.server.servlets.GameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameServlet</servlet-name>
		<url-pattern>/game</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>de.consilio.server.servlets.MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>de.consilio.server.servlets.AccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>TurnServlet</servlet-name>
		<servlet-class>de.consilio.server.servlets.TurnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TurnServlet</servlet-name>
		<url-pattern>/turn</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
